<nav class="navbar">

  <div class="p-col-12 p-md-6 p-lg-3p logo">
    <a href="/home"><img class="logo" src="assets/img/logo.png" alt="logo"></a>
  </div>
</nav>
<div>
  <h1 class="titulo"> Compra finalizado com sucesso!!</h1>

  <h1><span style="color: red;"> Pedido: 1515544</span></h1>
  <p-divider></p-divider>


  <h3 class="messagen">Nós, da CJL Livraria online,
    <br> Gostaríamos de agradecer imensamente pela sua decisão em adquirir nossa solução para o seu negócio e ficamos encantados em fazer parte do seu desenvolvimento! <br><br>

    Estamos confiantes de que teremos em mãos um case de sucesso para ambas as partes nessa nova etapa. <br><br>

    Se precisar de ajuda de alguma forma, não hesite em falar conosco, combinado?</h3>

    <p-button class="button-g" label="Compra mais" icon="pi pi-check" (click)="voltar()" ></p-button>
</div>
