<div class="ui-g p-shadow-4">
  <nav class="navbar">
    <div class="ui-g-12">
      <a href=""><img class="logo" src="assets/img/logo.png" alt="logo"></a>
    </div>
    <div class="ui-g-12">
      <a href="">Central de atendimento | </a>
      <a href=""> Quem Somos |</a>
      <a> Siga-nos </a>
      <a href=""><img class="social v-middle" src="assets/img/zap.png" alt="logo"></a>
      <a href=""><img class="social v-middle" src="assets/img/face.png" alt="logo"></a>
      <a href=""><img class="social v-middle" src="assets/img/insta.png" alt="logo"></a>
      <div class="ui-g-12 ui-fluid">
        <input class="pesquisa" type="text" pInputText />
        <p-button class="btn-pesquisa" icon="pi pi-search"></p-button>
      </div>
    </div>

    <div class="p-col-12 p-md-6 p-lg-3p user">
      <a> <img class="user-icone  v-middle" src="assets/img/user.png" alt="logo"></a>
      <label class="user-icone  v-middle" for="">Nome User</label>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3p cart">
      <a href="carrinho">
        <i class="pi pi-shopping-cart" style="font-size: 4rem" pBadge value={{quantCarrinho}} severity="success"></i>
      </a>
    </div>
  </nav>
</div>

<div class="p-shadow-4">
  <nav class="navsubbar">
    <span style="margin-left: 25%;">
      <a href="home/1"  >Mais vendidos |</a>
      <a href="home/2">5 Mais Baratos |</a>
      <a href="home/3">Por cateoria | </a>
      <a href="home/4">Por Autor |</a>
      <a href="home/5">Novidades</a>
    </span>
  </nav>
</div>


