.navbar{
display: flex;
position: fixed;
top: 0;
align-items: center;
padding: 10px;
margin-left: -8px;
margin-right: -8px;
background-color:#2B2929 ;
height: 130px;
width: 100%;
}
.navsubbar{
position: fixed;
justify-content: center;
display: inline-block;
top: 20%;
margin-left: -8px;
margin-right: -8px;
padding: 10px;
background-color:#413f3f ;
color: blanchedalmond;
height: 28px;
width: 100%;
}

.navsubbar  a {
  display: inline-block;
  justify-content: flex-end;
  margin-left: 2%;
  text-decoration: none;
  color:aliceblue;

  }

.navbar a {
top: 0;
margin-top: -8%;
display: flex;
align-items: center;
text-decoration: none;
color:aliceblue;
}

.menu a {
  top: 0;
  margin-top: 0%;
  display: flex;
  align-items: center;
  text-decoration: none;
  color:aliceblue;
  }
  .ui-g-12 a{
    padding: 5px;
    display: inline-block;
  }

  .ui-g-12 div{
    margin:5%;
    width: 200%;

  }
  .ui-g-12 input{
    width: 80%;
  }

  .menu .pesquisa {
    top: 0;
    display: flex;
    align-items: center;
    text-decoration: none;
    color:aliceblue;
    }

.navbar .logo{
  max-height: 100px;
}

.navbar .social{
  max-height: 20px;
}

.btn-pesquisa{
  align-items: baseline
}
 .user{
   position:relative;
   margin-top: 5%;
   margin-left: 5%;
   align-content: flex-end;
   color: blanchedalmond;
 }

 .user .user-icone{
  max-width: 10%;
  margin-left: 58%;
  align-content: flex-end;
}

.cart{
  position:fixed;
  margin-top: 0%;
  margin-left: 88%;
  max-width: 25%;
  align-content: flex-end;
}


