
<div class="ui-g">
  <div class="ui-g-12">
  <nav class="footer">
      <div class="ui-g-12">
        <h4>Contato:</h4>
        <h4>📞 Fixo (83)3351-3265<br>
          📱 Celular: (83)9.9999-9999 <br>
        </h4>
      </div>
      <div class="p-d-flex">
        <p-divider layout="vertical"></p-divider>
      </div>
      <div class="ui-g-12">
        <h4>Endereço:</h4>
        <h4> CNPJ:12.120.250/0001-86 <br>
            Av Pacheco Aranha, 263 <br>
            Centro - Monteiro <br>
        </h4>
      </div>
    <div class="p-d-flex">
      <p-divider layout="vertical"></p-divider>
    </div>
    <div class="ui-g-12">
    <span>
      <h5>Cartões aceitos</h5>
      <a><img class="logo" src="assets/img/cartoes.png" alt="logo"></a>

    </span>
    </div>
    <div class="p-d-flex">
      <p-divider layout="vertical"></p-divider>
    </div>
    <span>
      <h5>Selos de segurança</h5>
      <a><img class="logo" src="assets/img/selo.png" alt="logo">
      </a>
    </span>
    <div class="p-d-flex">
      <p-divider layout="vertical"></p-divider>
    </div>
  </nav>
  <nav class="subfooter" styleClass="Central">
    <h6 style="position: center">© 2021 CJL Libraria Online. Todos os direitos reservados</h6>
  </nav>
</div>
</div>
