<div class="ui-g">
  <div class="p-col-12 p-md-6 p-lg-3p">
    <h1 style="display: block">Cadastro de Categoria </h1>
  </div>
</div>
<p-toast></p-toast>


<!-----------------------------------Button de novo / e deletar mutiplos------------------------------------->
<div class="card">
  <!-----------------------------------Configuração e inicio da Tabela------------------------------------->
  <p-table #dt [value]="categorias" [rows]="5" [paginator]="true" [responsive]="true" [globalFilterFields]="['categoriaId', 'descricao']"
    [(selection)]="selectedCategorias" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

    <!-------------------------Titulo da tabela------------------------------->
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <br>
        <h3 class="p-m-0">Gerenciar de categoria</h3>
        <p-toolbar styleClass="p-mb-4">
          <ng-template pTemplate="left">
            <button pButton pRipple label="Novo" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelected()"></button>
          </ng-template>
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text" (input)="dt.filterGlobal($event.target, 'contains')" placeholder="Pesquisar..." />
          </span>
        </p-toolbar>

      </div>
    </ng-template>

    <!----------------------------------Cabeçalho da tabela------------------------------------->
    <ng-template pTemplate="header">
      <tr>
        <th class="p-column-1" pSortableColumn="categoriaId">Id <p-sortIcon field="categoriaId"></p-sortIcon>
        </th>
        <th pSortableColumn="descricao" class="titulo">Descrição<p-sortIcon field="descricao"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <!-------------------------Body da Tabela----------------------------------------------->
    <ng-template pTemplate="body" let-categoria>
      <tr>
        <td>{{categoria.categoriaId}}</td>
        <td><h4 id="nome">{{categoria.descricao}}</h4></td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
            class="p-button-rounded p-button-success p-mr-2" (click)="update(categoria)"></button>
          <button pButton pRipple icon="pi pi-trash" pTooltip="Excluir" tooltipPosition="top"
            class="p-button-rounded p-button-warning" (click)="delete(categoria.categoriaId, categoria.descricao)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Total de categorias {{categorias ? categorias.length : 0 }}.
      </div>
    </ng-template>
  </p-table>
</div>

<!-------------------------------- menu e rodape---------------------- -->
<app-menu-admin></app-menu-admin>
<app-footer-admin></app-footer-admin>
<!-------------------------Tela de Dialog do livro------------------------------->
<p-dialog [(visible)]="telaDialog" [style]="{width: '480px'}" header="Detalhes do Categoria" [modal]="true"
  styleClass="p-fluid">

  <ng-template pTemplate="content">

    <div class="p-field">
      <label for="name">Descrição <span style="color: red;">*</span></label>
      <input type="text" pInputText id="name" required autofocus [(ngModel)]=categoria.descricao />
      <small class="p-invalid" *ngIf="submitted && !categoria.descricao">Descrição é obrigatorio.</small>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="save(categoria)"></button>
  </ng-template>

</p-dialog>
<!-------------------------Fim da tela Tela de Dialog do livro------------------------------->

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
