<div class="ui-g">
  <div class="p-col-12 p-md-6 p-lg-3p">
    <h1 style="display: block">Cadastro de Editora </h1>
  </div>
</div>
<p-toast></p-toast>


<!-----------------------------------Button de novo / e deletar mutiplos------------------------------------->
<div class="card" style="margin-top: 1%;" >


  <!-----------------------------------Configuração e inicio da Tabela------------------------------------->
  <p-table #dt [value]="editoras" [rows]="5" [paginator]="true" [responsive]="true"
    [globalFilterFields]="['editoraId', 'nome']" [(selection)]="selectEditoras" [rowHover]="true" dataKey="id"
    currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

    <!-------------------------Titulo da tabela------------------------------->
    <ng-template pTemplate="caption">
      <div class="p-d-flex p-ai-center p-jc-between">
        <br>
        <h3 class="p-m-0">Gerenciar de Editora</h3>
        <p-toolbar styleClass="p-mb-4">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input pInputText type="text"
              placeholder="Pesquisar..." style="width: 500px;"/>
          </span>
          <ng-template pTemplate="left">
            <button pButton pRipple label="Novo" id="novo" icon="pi pi-plus" class="p-button-success p-mr-2"
              (click)="openNew()"></button>
            <button pButton pRipple label="" icon="pi pi-trash" class="p-button-danger" (click)="deleteSelected()"></button>
          </ng-template>
        </p-toolbar>

      </div>
    </ng-template>

    <!----------------------------------Cabeçalho da tabela------------------------------------->
    <ng-template pTemplate="header">
      <tr>
        <th class="p-column-1" pSortableColumn="editoraId">Codigo <p-sortIcon field="editoraId"></p-sortIcon>
        </th>
        <th pSortableColumn="nome" class="titulo">Nome<p-sortIcon field="nome"></p-sortIcon>
        </th>
      </tr>
    </ng-template>

    <!-------------------------Body da Tabela----------------------------------------------->
    <ng-template pTemplate="body" let-editora>
      <tr>
        <td>{{editora.editoraId}}</td>
        <td>
          <h4>{{editora.nome}}</h4>
        </td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" pTooltip="Editar" tooltipPosition="top"
            class="p-button-rounded p-button-success p-mr-2" id="edit" (click)="update(editora)"></button>
          <button pButton pRipple icon="pi pi-trash" pTooltip="Excluir" id="del" tooltipPosition="top"
            class="p-button-rounded p-button-warning" (click)="delete(editora.editoraId, editora.nome)"></button>
        </td>
      </tr>
    </ng-template>
    <ng-template pTemplate="summary">
      <div class="p-d-flex p-ai-center p-jc-between">
        Total de editoras {{editoras ? editoras.length : 0 }}.
      </div>
    </ng-template>
  </p-table>
</div>

<!-------------------------------- menu e rodape---------------------- -->
<app-menu-admin></app-menu-admin>
<app-footer-admin></app-footer-admin>

<!-------------------------Tela de Dialog do editora------------------------------->
<p-dialog [(visible)]="telaDialog" [style]="{width: '480px'}" header="Detalhes do Categoria" [modal]="true"
  styleClass="p-fluid">

  <ng-template pTemplate="content">

    <!-- editora = { editoraId: "", nome: "", cep: "", rua: "", numero: "",
    bairro: "", cidade: "", cnpj: "", uf: ""}; -->

    <div class="p-field">
      <label for="name">Nome <span style="color: red;">*</span></label>
      <input type="text" pInputText id="Nome" required autofocus [(ngModel)]=editora.nome />
      <small class="p-invalid" *ngIf="submitted && !editora.nome">Nome é obrigatorio.</small>
    </div>

    <div class="p-field">
      <label for="cnpj">cnpj <span style="color: red;">*</span></label>
      <input type="text" pInputText id="cnpj" required autofocus [(ngModel)]=editora.cnpj />
      <small class="p-invalid" *ngIf="submitted && !editora.cnpj">cnpj é obrigatorio.</small>
    </div>

    <div class="p-field">
      <label for="cep">CEP <span style="color: red;">*</span></label>
      <input type="text" pInputText id="CEP" required autofocus [(ngModel)]=editora.cep />
      <small class="p-invalid" *ngIf="submitted && !editora.cep">CEP é obrigatorio.</small>
    </div>

    <div class="p-field">
      <label for="rua">Rua <span style="color: red;">*</span></label>
      <input type="text" pInputText id="Rua" required autofocus [(ngModel)]=editora.rua />
      <small class="p-invalid" *ngIf="submitted && !editora.rua">Rua é obrigatorio.</small>
    </div>

    <div class="p-field">
      <label for="numero">Numero <span style="color: red;">*</span></label>
      <input type="number" pInputText id="Numero" autofocus [(ngModel)]=editora.numero />
      <small class="p-invalid" *ngIf="submitted && !editora.numero">Numero é obrigatorio.</small>
    </div>

    <div class="p-field">
      <label for="bairro">Bairro <span style="color: red;">*</span></label>
      <input type="text" pInputText id="Bairro" required autofocus [(ngModel)]=editora.bairro />
      <small class="p-invalid" *ngIf="submitted && !editora.bairro">Bairro é obrigatorio.</small>
    </div>

    <div class="p-field">
      <label for="cidade">Cidade <span style="color: red;">*</span></label>
      <input type="text" pInputText id="Cidade" required autofocus [(ngModel)]=editora.cidade />
      <small class="p-invalid" *ngIf="submitted && !editora.cidade">Cidade é obrigatorio.</small>
    </div>

    <div class="p-field p-col-12 p-md-4">
      <label for="icon">uf<span style="color: red;">*</span></label>
      <input type="text" pInputText id="UF" required autofocus [(ngModel)]=editora.uf />
      <small class="p-invalid" *ngIf="submitted && !editora.uf">uf é obrigatório.</small>
    </div>

  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancelar" id="save" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Salvar" icon="pi pi-check" class="p-button-text" (click)="save(editora)"></button>
  </ng-template>

</p-dialog>
<!-------------------------Fim da tela Tela de Dialog do livro------------------------------->

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
