<div class="ui-g">
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="div-slider">
        <ul class="slides-front">
          <input type="radio" name="radio-btn" id="img-1" checked="">
          <li class="slide-container">
          <div class="slide">
            <img class="img" src="assets/img/img1.jpg">
              </div>
          <div class="nav">
            <label for="img-3" class="prev">‹</label>
            <label for="img-2" class="next">›</label>
          </div>
          </li>

          <input type="radio" name="radio-btn" id="img-2">
          <li class="slide-container">
              <div class="slide">
                <img class="img" src="assets/img/img2.png">
              </div>
          <div class="nav">
            <label for="img-1" class="prev">‹</label>
            <label for="img-3" class="next">›</label>
          </div>
          </li>

          <input type="radio" name="radio-btn" id="img-3">
          <li class="slide-container">
              <div class="slide">
                <img class="img" src="assets/img/img3.jpg">
              </div>
          <div class="nav">
            <label for="img-2" class="prev">‹</label>
            <label for="img-1" class="next">›</label>
          </div>
          </li>

          <li class="nav-dots">
            <label for="img-1" class="nav-dot" id="img-dot-1"></label>
            <label for="img-2" class="nav-dot" id="img-dot-2"></label>
            <label for="img-3" class="nav-dot" id="img-dot-3"></label>
          </li>
        </ul>
      </div>
    </div>
    <div class="p-col-12 p-md-6 p-lg-3">
      <div class="pq-img">
        <img class="img" src="assets/img/promo-1.png">
        <img class="img" src="assets/img/promo-2.jpg">
      </div>

    </div>
</div>
